body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  margin-bottom: 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 0;
  margin-bottom: 1%;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* .table {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-gap: 3px;
} */

.row {
  /* display: grid; */
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-right: 0;
  padding-bottom: 1px;
  margin-bottom: 50px;
  /* grid-template-columns: 10% 80% 10%; */
}

.table {
  border: 2px white;
}

.table th {
  padding: .75rem;
  vertical-align: middle;
  margin-right: 0;
  border-top: 2px dotted black;
  /* border-bottom: 3px dotted black; */
  /* border-right: 3px solid black; */
  border-radius: 3px;
  /* border-top: 1px solid #dee2e6; */
}

.table td {
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid white;
  border-left: 2px ridge black;
}

/* .row {
  display: table-cell;
  margin-bottom: 1px;
} */


.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 2px dashed #000000;
  /* width: 10%; */
  text-align: center;
  vertical-align: middle;
  padding-top: 2.5%;
  margin-bottom: 2px;
  font-weight: bolder;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.text-area {
  width: 90%;
  height: 100%;
  vertical-align: top;
  border-left: 3px solid black;
  margin-bottom: 2px;
  padding: 5px;
}

.form-box {
  width: inherit;
  height: inherit;
}

.form-control {
  background-color: #d3d3d3;
}

.saveBtn {
  /* display: table-cell; */
  border-left: 3px ridge black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #06aed5;
  color: white;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  width: 10%;
  padding-top: 2.5%;
  margin-bottom: 2px;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
